body{
    scroll-behavior: smooth;
}
.nav{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: white;
    height: 100px;
    position: relative;
}
.navbarScroll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: transparent;
    height: 100px;
    position: relative;
}
.logo img{
    width: 150px;
}
.navItems ul,
.toggle ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.navItems ul li a,
.toggle ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    transition: 0.3s;
    letter-spacing: 4px;
}
.navbar .navItems ul li a,
.navbar .toggle ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
}
.navItems ul li a:hover,
.toggle ul li a:hover{
    color: rgb(206, 134, 0);
}
.icon{
    color: white;
    display: flex;
    gap: 10px;
    font-size: 25px;
    transition: 0.3s;
}
.icon i:hover {
    color: rgb(0, 3, 84);
    transition: 0.3s;

}
.navbar .icon{
    color: black;
    display: flex;
    gap: 10px;
    font-size: 25px;
}
.bar{
    display: none;
    font-size: 25px;

}
@media screen and (max-width:912px) {
    .logo img{
        width: 100px;
    }
    .navItems ul li a,
    .toggle ul li a{
        font-size: 20px;
    }
    .icon{
        font-size: 20px;
    }
    .navbar .icon{
        font-size: 20px;
    }
   
    .navbar .navItems ul li a,
    .navbar .toggle ul li a{
        color: white;
    }
}
@media screen and (max-width:768px) {
    .navbar{
        height: 80px;
    }
    .bar{
        display: block;
    }
    .navItems{
        z-index: 2;
        top: 80px;
        left: 0%;
        position: absolute;
        width: 100%;
        height: calc(100vh - 80px);
        transition: 0.5s;
        animation-name: navbar;
        animation-duration: 1.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        transform: rotateY(90deg);
        background-color: transparent;
        transition: 0.5s;
    }
    @keyframes  navbar {
           
            0%{
                background-image: linear-gradient(to top,transparent ,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),transparent);
                transform: rotateY(0deg) rotateX(15deg);

            }
            25%{
                transform: rotateY(45deg) rotateX(15deg);
            }
            50%{
                transform: rotateY(90deg) rotateX(15deg);
             }
             75%{
                transform: rotateY(125deg) rotateX(15deg);
             }
            100%{
                transform: rotateY(180deg) rotateX(15deg); 

            }
            

    }
    .toggle{

        top: 80px;
        left:0%;
        position: absolute;
        background-color: transparent;
        transition: 0.5s;
        background-image: linear-gradient(to top,transparent ,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),transparent);
        width: 100%;
        height: calc(100vh - 80px);
        transition: 0.5s;
        animation-name: toggle;
        animation-duration:1.2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        transition: 0.5s;
    }
    @keyframes  toggle {

        
        0%{
            transform: rotateY(360deg) rotateX(15deg);
        }
        25%{
            transform: rotateY(315deg) rotateX(15deg);
        }
        50%{
            transform: rotateY(270deg) rotateX(15deg);
         }
         75%{
            transform: rotateY(225deg) rotateX(15deg);
            background-image: linear-gradient(to top,transparent ,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),transparent);
         }
        100%{
            transform: rotateY(180deg) rotateX(15deg);
            background-image: linear-gradient(to top,transparent ,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),transparent);


        }
    }
    .navItems ul,
    .toggle ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        height: calc(100vh - 80px);
    }
}